body{
    padding-top: 50px;
    scroll-behavior: smooth;
}

.test{
    color: red;
}

.image-max{
    max-width: 500px;
}

.highlight {
    background: yellow;
    font-size: 90px;
  }

div.card:hover{
    background: rgb(240, 240, 240);
    border: 1px rgb(240, 240, 240);
}